<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.atlas.provider-warmup</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>/Users/yasser/scripts/atlas_provider_warmup.py</string>
    <string>--cache</string>
    <string>/Users/yasser/Library/Application Support/Atlas/provider_cache/provider_discovery.json</string>
    <string>--receipt</string>
    <string>/Users/yasser/Library/Application Support/Atlas/provider_cache/receipts/provider_warmup.json</string>
    <string>--scheduled-window</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>ATLAS_DISCOVERY_CACHE_PATH</key>
    <string>/Users/yasser/Library/Application Support/Atlas/provider_cache/provider_discovery.json</string>
    <key>PYTHONPATH</key>
    <string>/Users/yasser/scripts</string>
  </dict>
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>17</integer><key>Minute</key><integer>23</integer></dict>
    <dict><key>Weekday</key><integer>2</integer><key>Hour</key><integer>17</integer><key>Minute</key><integer>23</integer></dict>
    <dict><key>Weekday</key><integer>3</integer><key>Hour</key><integer>17</integer><key>Minute</key><integer>23</integer></dict>
    <dict><key>Weekday</key><integer>4</integer><key>Hour</key><integer>17</integer><key>Minute</key><integer>23</integer></dict>
    <dict><key>Weekday</key><integer>5</integer><key>Hour</key><integer>17</integer><key>Minute</key><integer>23</integer></dict>
  </array>
  <key>RunAtLoad</key>
  <false/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/Users/yasser/Library/Logs/Atlas/provider-warmup.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/yasser/Library/Logs/Atlas/provider-warmup.err.log</string>
</dict>
</plist>
